body {
    width: 1400px;
}

.wrapper {
    width: 500px;
    margin: 0 auto;
}

.btn-delete {
    display: inline-block;
    margin-left: 1em;
    background: red;
    color: white;
    font-weight: bold;
    padding: 0.25em;
}

.hide {
    display: none;
}

p {
    padding-left: 10px;
    padding-right: 5px;
}
.bookingsDetailsHeader {
    font-weight: bold;
}
.history_row:nth-child(odd){
    border: 1px solid grey;
    padding-left: 2px;
    background: white;
    font-size: 10px;
    
} 
.history_row:nth-child(even){
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    padding-left: 2px;
    background: lightgray;
    font-size: 10px;
    
} 
.bookingsDetails{
    position: absolute;
    top: 100px;
    height: 362px;
    width: 425px;
    left: 15px;
    border: 1px solid #DEE2E6;
    border-radius: 0px 0px 10px 10px;
    background-color: #F7F7F7;
    overflow-y: auto;
}